---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <title>Womp Womp</title>
  </head>
  <body
    class="flex min-h-screen w-full items-center justify-center bg-background"
  >
    <div class="text-center">
      <h1 class="text-4xl font-bold">Womp Womp</h1>
      <p>Maintenance Mode</p>
    </div>
  </body>
</html>
