---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <title>Womp Womp</title>
  </head>
  <body
    class="flex min-h-screen w-full items-center justify-center bg-background"
  >
    <div class="text-center">
      <h1 class="text-4xl font-bold">Womp Womp</h1>
      <p class="text-xl">Maintenance Mode</p>
      <p class="text-xl" id="countdown"></p>
    </div>
  </body>
</html>

<script>
  let countDownDate = new Date("April 23, 2024 12:00:00").getTime();
  // Update the count down every 1 second
  let x = setInterval(function () {
    // Get today's date and time
    let now = new Date().getTime();

    // Find the distance between now and the count down date
    let distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    let days = Math.floor(distance / (1000 * 60 * 60 * 24));
    let hours = Math.floor(
      (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
    );
    let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    let seconds = Math.floor((distance % (1000 * 60)) / 1000);

    //@ts-expect-error
    document.getElementById("countdown").innerHTML =
      days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

    // If the count down is finished, write some text
    if (distance < 0) {
      clearInterval(x);
      //@ts-expect-error
      document.getElementById("countdown").innerHTML = "EXPIRED";
    }
  }, 1000);
</script>
